body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
    padding-bottom: 75px;
}


.container {
    width: 80%;
    margin: auto;
    overflow: auto;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}
nav{
    margin-top: auto;
    display: justify;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px;

}
nav a {
    color: white; /* Màu đường dẫn trắng */
    text-decoration: none; /* Không gạch chân */
}
footer {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 75px;
    position:fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}
header, nav, footer {
    background-color: #8cb8e8;
    border: 1px solid black;
    border-radius: 10px ;
}


.logo {
    width: 50px;
    height: 50px;
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 130px;
}
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(26, 196, 133);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
.icon-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.icon-box {
    width: 150px;
    height: 100px;
    background-color: rgb(73, 183, 179); /* Màu nền xám */
    color: rgb(0, 0, 0); /* Màu chữ xanh */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
.icon {
    width: 20px;
    height: 20px;
}
.icon-row a {
    color: white; /* Màu đường dẫn trắng */
    text-decoration: none; /* Không gạch chân */
}
.pagination {
    justify-content: center !important;
    margin: 10px !important;
}
table{
    background-color:azure;
    border-radius: 5px 5px !important;
}
