.container {
    width: 80%;
    margin: auto;
    overflow: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}
nav{
    margin-top: auto;
    display: justify;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 5px;
    margin-bottom: 20px;
}
nav a {
    color: white; /* Màu đường dẫn trắng */
    text-decoration: none; /* Không gạch chân */
}
footer {
    padding: 20px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
}
header, nav, footer {
    background-color: #007bff;
    border: 1px solid black;
    border-radius: 10px ;
}


.logo {
    width: 50px;
    height: 50px;
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.logout-button {
    margin-left: 10px;
    border: 1px black;
    border-radius: 3px;
}
.icon-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.icon-box {
    width: 150px;
    height: 100px;
    background-color: rgb(73, 183, 179); /* Màu nền xám */
    color: rgb(0, 0, 0); /* Màu chữ xanh */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
.icon {
    width: 20px;
    height: 20px;
}
.icon-row a {
    color: white; /* Màu đường dẫn trắng */
    text-decoration: none; /* Không gạch chân */
}